import template from './template.jst';

const TodoItem = ({ name }) => (
  <p>Hey, you should "{name}"</p>
);

const TodoView = Backbone.View.extend({
  template,
  ui: {
    todoItem: '#todoItem',
  }
  onRender() {
    ReactDOM.render(
      <TodoItem name="Get some milk" />,
      this.ui.todoItem[0],
    );
});