import React from 'react';

const Greeting = ({ name }) => (
  <div>
    <h1 style={{color: 'red'}} name="test" title={name}>{name}</h1>
    <p>{5 + 1}</p>
    <p>{getSomeStuff()}</p>
    <ul>
      {items.map(item => (
        <li key={item.name}>{item.name}</li>
      ))}
    </ul>

    {name === 'Michiel' ? (
      <p>Name is Michiel!</p>
    ) : (
      <p>Name is not Michiel</p>
    )}

    {!name ? (
      <p>You did not provide a name.</p>
    ) : null}
  </div>
)

export default Greeting;