import React from 'react';

import Hello from './Hello';

class Greetings extends React.Component {
  constructor() {
    super();
    this.state = {
      toGreet: [
        'Michiel',
        'Jorn',
      ],
    };

    // Make sure "this" in onAddGreeting is the correct scope.
    this.onAddGreeting = this.onAddGreeting.bind(this);
  }
  onAddGreeting() {
    // Get current state and add one.
    const toGreet = this.state.toGreet;
    toGreet.push('Piet');

    // Update state with the above array; rerenders the view.
    this.setState({
      toGreet,
    });
  }
  render() {
    return (
      <div>
        {this.state.toGreet.map(name => (
          <Hello key={name} name={name} />
        ))}

        <button onClick={this.onAddGreeting}>Add Piet</button>
      </div>
    )
  }
}

export default Greeting;