import { createStore } from 'redux';

import {
  modalReducer,
  sessionReducer,
} from './reducers';

const store = createStore(
  combineReducers({
    modal: modalReducer,
    session: sessionReducer,
  });
);

export default store;